@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #202026;
    color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    height: 80px;
}

.logo img {
    width: 65px;
}

.menu-items a img {
    width: 25px;
}

.menu-items a {
    padding-left: 30px;
}

.content {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}

.left-side {
    max-width: 400px;
    height: 500px;
    margin: auto;
    
    
    
}
.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
    margin:  auto;
    background-color: white;
    border-radius: 20px;
}
.left-side h1 {
    color: #00C0AF;
    font-size: 2.5em;
}
.left-side span {
    font-size: 3em;
    display: flex;
    flex-direction: column;
    padding: 60px 0px 30px 0px;  
}
.left-side a {
    background-color: #00C0AF;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.left-side a:hover {
    background-color: palevioletred;
    color: #202026;
    text-decoration: underline;
}

.imagem img {
    width: 100%;
}

@media (max-width: 830px) {
    .right-side {
        margin-top: 30px;
        height: 400px;
    }
    .left-side {
        text-align: center;
    }
}



